.dashboard-grid{

    display:grid;

    grid-template-columns:2fr 2fr;

    gap:20px;

    align-items:start;

    margin-top:30px;

}

@media(max-width:992px){

    .dashboard-grid{

        grid-template-columns:1fr;

    }

}